*.env
**/arduino_secrets.h
venv/
__pycache__/
*.pyc
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
*/.keras
*/.pth
*/.h

Dataset/crop_disease_detection/
Weights/old_weights
Dataset-20260508T131931Z-3-001/
*/.zip
*.zip
Dataset-20260508T131931Z-3-001
Curated_Maize_Dataset
Curated_Tomato_Dataset
*.7z
*/.7z